.box-small::placeholder {
  color: #7b94a5;
  font-size: 0.7em;
  text-indent: 10px;
  line-height: 1.2em;
  width: 100%;
}

.box-big::placeholder {
  color: #7b94a5;
  font-size: 0.8em;
  text-indent: 10px;
  width: 100%;
padding-left: 3px;

}
 
.box:-moz-placeholder {
   color: 7b94a5;
}
.box::-moz-placeholder {
    color: 7b94a5;

}
:-ms-input-placeholder {
    color: 7b94a5;

}
::-webkit-input-placeholder {
    color: 7b94a5;
}
.box:-moz-placeholder {
    color: 7b94a5;

}
::-moz-placeholder {
    color: 7b94a5;

}
:-ms-input-placeholder {
    color: 7b94a5;

}

.input-style
{
   display: block;
   width: 100%;
   background-color: #FFFFFF;
   color :#000000;
   font-weight: normal;
   font-size: 13px;
   box-sizing: border-box;
   padding: 4px 4px 4px 4px;
   padding-left: 23px;
   text-align: left;
   border: 0px;
   resize:none;
}

#input-norm:focus
{
   box-shadow: inset 0px 1px 1px #e6eaed, 0px 0px 8px #e6eaed;
   outline: 0;
}

#input-norm
{
   display: block;
   height: 50px;
   width:100%;
   border: 0px;
   padding: 4px 4px 4px 15px;
   box-sizing: border-box;
   text-align: left;
   border: 0px;
   resize:none;
   font-weight:600;
   color:#002841;
}

#input-area:focus
{
   box-shadow: inset 0px 1px 1px #e6eaed, 0px 0px 8px #e6eaed;
   outline: 0;
}

#input-area
{
   display: block;
   height: 165px;
   width:100%;
   border: 0px;
   padding: 15px 4px 4px 15px;
   box-sizing: border-box;
   text-align: left;
   border: 0px;
   resize:none;
	font-weight:600;
	color:#002841;
}

.container {
  display: block;
  position: relative;
  padding-left: 27px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: white;
 box-shadow: 3px 3px 1px rgba(192,192,192,0.20) inset;
}

.container input:checked ~ .checkmark {
  background-color: #fff;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after 
{
  left: 7px;
  top: 4px;
  width: 3px;
  height: 7px;
  border: solid #00b6dc;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  
 }
 
#button-carusele
{
   font-weight: normal;
   font-size: 0.800em;
   -webkit-appearance: none;
   display: inline-block;
   z-index: 1;
   text-transform: uppercase;
   border-radius: 25px;
   width: 180px;
   height: 50px;
   cursor: pointer;
   width:100%;
   max-width:206px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

@media (max-width: 500px)
{
#button-carusele
{
   margin-top:10px;
   margin-left:0px;
   margin-inline: 5px;
}
}

.button-carusele-left
{
   background-color: #ffffff;
   border: 0px solid #FFFFFF;
}

.button-carusele-right
{
   background-color: rgba(51,112,183,0.00);
   border: 2px solid #FFFFFF;
   color: #FFFFFF;
   margin-left:25px;
   
}

#button-form
{
   border: 0px solid #2E6DA4;
   border-radius: 35px;
   background-color: #00B6DD;
   color: #FFFFFF;
   font-size: 0.800em;
   -webkit-appearance: none;
   margin:0 auto;
   display: inline-block;
   width: 117px;
   height: 46px;
   cursor: pointer;  
}

#arrow-carousel
{

   -webkit-appearance: none;
   margin:0 auto;
   cursor:pointer;
   border: none;
   width: 30px;
   height: 21px;
   padding-left:35px; 
}
 
.arrow-l
{
	
   background:url(/img/arrow_l.png) no-repeat;
 
}

.arrow-l:hover
{
	
   background:url(/img/arrow_l_hover.png) no-repeat;
 
}

.arrow-r
{
	
   background:url(/img/arrow_r.png) no-repeat;
   
}

.arrow-r:hover
{
	
   background:url(/img/arrow_r_hover.png) no-repeat;
   
}

.dot {
  cursor: pointer;
  height: 14px;
  width: 14px;
  margin: 28px 125px;
  background-color: #fff;
  border-radius: 50%;
  display: block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #ffcf14;
}